*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    border: solid 20px rgba(0, 0, 0, 0.8);
    height: 100vh;
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
}
h1{
    color: white;
}

   

.child1{
    width: 200px;
    height: 200px;
    background-color: red;
    order: 2;
}
.child2{
    width: 200px;
    height: 200px;
    background-color: green;
    order: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}
.child2 .aaa{
    background-color: white;
    width: 50%;
}
.child2 .bbb{
    background-color: dodgerblue;
    width: 75%;
}
.child2 .ccc{
    background-color: aquamarine;
    width: 25%;
}

.child3{
    width: 200px;
    height: 200px;
    background-color: blue;
    order: 3;
}

